<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

<nav th:replace="~{fragments-register :: navigation}"></nav>

<form method="POST" th:object="${userDTO}" action="/register/user" enctype="multipart/form-data">
   <div class="form-group">
      <label>Username
         <input class="form-control" th:field="*{username}" />
      </label>
      <p class="error" th:errors="*{username}"></p>
   </div>
   <div class="form-group">
      <label>Password
         <input class="form-control" th:field="*{password}" type="password" />
      </label>
      <p class="error" th:errors="${userDTO.password}"></p>
   </div>
   <div class="form-group">
      <label>Verify Password
         <input class="form-control" th:field="*{verifyPassword}" type="password" />
      </label>
   </div>

   <input type="submit" class="btn btn-primary" value="Register" />
</form>

</body>
</html>